<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Friend Finder</title>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <!--  <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <!- CSS  --> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
	<body>
		<div class="container">
  			<div class="row">
    		<img src="../../public/goodburger.jpg">	
		    <h1>Welcome To Good Burger: Home Of The Good Burger</h1>
		    <h3>Can I Take Your Order?</h3>
		  </div>
		</div>
    <div class="container">
      <div class="row">
		    {{{ body }}}
      </div>
    </div>
	</body>
</html>
